* {
    border: 0;
    margin: 0;
    padding: 0;
}

header {
    width: 100vw;
}

.title,
.subtitle,
.revenue {
    display: flex;
}

.indecator {
    width: 25vw;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 3px 3px 3px;
    font-size: 2vw;
    justify-content: center;
}

.indecator-left {
    width: 25vw;
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 3px 3px 3px;
    font-size: 2vw;
    box-sizing: border-box;
    padding-left: 20px;
}

.blue {
    background-color: rgba(104, 185, 255, 0.343);
}

.gray {
    background-color: rgba(171, 171, 171, 0.343);
}

.red {
    background-color: rgba(254, 96, 96, 0.343);
}

.red span {
    color: rgb(255, 0, 0);
}

.green {
    background-color: rgba(119, 254, 119, 0.343);
}

.green span {
    color: rgb(0, 102, 0);
}

span {
    margin-left: 20px;
}
